*{
    box-sizing: border-box;
}

body{
    font-family: "Arial, Helvetica, sans-serif";
}

form{
    width: 400px; 
    margin: 150px auto;
    border: solid 1px #ccc; 
    padding: 20px;
}

input[type=text], input[type=password]{
    border: solid 1px #ccc;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    padding: 10px;
    width: 100%;
}

input[type=submit]{
    border: 0;
    outline: 0;
    background-color: #003366;
    font-size: 18px;
    color: white;
    padding: 10px 30px;
    border-radius: 3px;
}

.section{
    padding: 15px 0;
}
.section .title{
    padding: 10px 0;
}

.button{
    padding: 10px 0;
}

.button a{
    color: #1a72cb;
}